<!DOCTYPE html>
<html>

    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <meta name="description" content="Tela de Menu da Agenda">
        <meta name="keywords" content="Agenda">
        <meta name="author" content="SAD Soluções Web">
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>

    <body>
         <h1>Menu Agenda </h1>
        <form>
            <table id="menu" cellspacing="10">
                <tr>
                    
                    <td>
                        <input type="submit" name="menu" value="Nova Tarefa">
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <input type="submit" name="menu" value="Tarefas Concluidas">
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <input type="submit" name="menu" value="Pontuação">
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <input type="submit" name="menu" value="Relatorio">
                    </td>
                </tr>
                
            </table>
        </form>
    </body>

</html>