<!DOCTYPE html>
<html>

    <head>
        <title>Pontuação</title>
        <meta charset="UTF-8">
        <meta name="description" content="Cadastro de novas tarefas">
        <meta name="keywords" content="">
        <meta name="author" content="SAD Soluções Web">
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>

    <body>
         <h1> Meus Pontos </h1>
        <img src="imagens/pontos.jpg">
        <div>
            <p>Voce tem 50 pontos no momento</p>
        </div>
    </body>

</html>