<!DOCTYPE html>

<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Cadastro de novo usuario">
	<meta name="keywords" content="">
	<meta name="author" content="SAD Soluções Web">
	<link rel="stylesheet" type="text/css" href="estilos.css">
	<title>Relatório de tarefas</title>
</head>
<body>
	<h1>Relatório de tarefas</h1>
	<form id="relatorio">
		Tarefas: <input type="radio" name="todas" />Todas
		<input type="radio" name="abertas" />Em aberto
		<input type="radio" name="concluidas" />Concluídas
		<br /><br /><br />
		Data Inicial: <input type="date" id="datainicial" /> Data Final: <input type="date" id="datafinal" />
		<br /><br /><br />
		<table id="relatorio_table">
			<th>Tarefa</th>
			<th>Data</th>
			<th>Prioridade</th>
			<th>Duração</th>
			<th>Pontos</th>
			<th>Finalizada</th>
			<tr class="even">
				<td>Ligar para Cemig</td>
				<td>11/09/2015</td>
				<td>3</td>
				<td>20min</td>
				<td>5</td>
				<td><input type="checkbox" checked="checked" /></td>
			</tr>
			<tr class="odd">
				<td>Formatar PC</td>
				<td>11/09/2015</td>
				<td>3</td>
				<td>50min</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="even">
				<td>Ler capítulo 12</td>
				<td>11/09/2015</td>
				<td>5</td>
				<td>1h</td>
				<td>50</td>
				<td><input type="checkbox" checked="checked" /></td>
			</tr>
		</table>
		<br />
		<table>
			<tr>
				<td>Total de tarefas</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Tempo médio</td>
				<td>43min</td>
			</tr>
			<tr>
				<td>Total de pontos acumulados</td>
				<td>55</td>
			</tr>

		</table>
	</form>
</body>
</html>
